div[id|=wripl-oauth] {
    padding: 5px 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
}

img.wripl-widget-thumbnail.nailthumb-image{
    margin: 0px;
}


img.wripl-oauth-connect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

img.wripl-rotate {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wripl-rotate:hover
{
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
}

@-webkit-keyframes rotate-webkit {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes rotate-moz {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-o-keyframes rotate-o {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}
.wripl-rotate
{
    -webkit-animation-name:             rotate-webkit;
    -webkit-animation-duration:         1.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name:             rotate-moz;
    -moz-animation-duration:         1.5s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;

    -o-animation-name:             rotate-o;
    -o-animation-duration:         4.5s;
    -o-animation-iteration-count:  infinite;
    -o-animation-timing-function: linear;

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}


/* TODO: Refactor the following css.. tis a bit messy*/
#wripl-slider {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #ffffff;
    padding-left: 20px;
    /*width: 370px;*/
    height: 160px;

    -webkit-box-shadow: 0 8px 6px -6px #c8c8c8;
    -moz-box-shadow: 0 8px 6px -6px #c8c8c8;
    box-shadow: 0 8px 6px -6px #c8c8c8;

    border: solid 1px #e6e6e6;

    position: fixed;
    bottom: 46px;
    vertical-align: top;

    z-index: 2147483648;
}

#wripl-slider img{
    max-width: none;
}


#wripl-slider .heading {
    font-size: 13pt;
    font-weight: 300;
    padding: 20px 30px 10px 10px;
    text-align: center;
    color: black;
}
#wripl-slider .slider-body {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#wripl-slider .slider-body  img {
    vertical-align: middle;
}
#wripl-slider .footer {
    clear:both;
    font-size: smaller;
    padding-bottom: 6px;
    padding-right: 16px;
    text-align: right;
    color: #c8c8c8;
}
#wripl-slider .footer img {
    vertical-align: text-bottom;
}
#wripl-slider-header{
    padding: 6px 6px 22px 6px;
    border-bottom: 1px solid #ededed;
    margin-right: 10px;
    margin-left: -10px;
}

/* START ------- wripl mobile specific styles ---------------------- MOBILE SPECIFIC -------- START*/

#wripl-slider.wripl-mobile {
    width: 100%;
    height: 78px;
    padding: 0px;

    -webkit-box-shadow: 0 -2px 6px #c8c8c8;
    -moz-box-shadow: 0 -2px 6px #c8c8c8;
    box-shadow: 0 -2px 6px #c8c8c8;

    /* mobile slider will be flush to the edges of the screen */
    bottom:0;
    left: 0;
}

/* Tricky positioning of the 'get recommendations' button within this element */
#wripl-slider .slider-body.wripl-mobile {
    padding-top: 16px;
    padding-left: 15%;
    width: 65%;
    float: left;
}

#wripl-recommendations.wripl-mobile {
    border-top: 0px;
    margin-right: 0px;
    padding: 10px;
    padding-top: 4px;
}

#wripl-slider.wripl-mobile a{
    font-size: 1em;
    text-decoration: none;
}

#wripl-slider.wripl-mobile a:hover{
    text-decoration: none;
}

/* Added margin here.. because theme stylesheets with  p *all selectors were overwriting the layout */
#wripl-slider.wripl-mobile p{
    line-height: 1.4em;
    margin: 1px;
    padding-left: 2px;
    font-size: 12pt;
}

#wripl-dismiss.wripl-mobile a{
    padding-top: 28px; /* The arrows's position from the top of the slider */
    padding-left: 6px;
    font-size: 0.8em;
}

#wripl-slider.wripl-mobile a.dismiss:hover {
    border: 0px;
}

#wripl-dismiss.wripl-mobile {
    float: right;
    width: 30px;
    height: 100%;
    border-left: 1px solid #ededed;
}

/* So this selector does not appear in any of the templates but it is created on the fly */
.nailthumb-container{
    float:right;
    border: 1px solid #e0dfdf;
}


#wripl-slider .heading-sml.wripl-mobile {
    font-size: 8pt;
    float: none;
    padding-left: 4px;
}

a#post_title:hover {
    text-decoration: underline;
}

#wripl-main.wripl-mobile{
    float: left;
    width: 82%;
}

#wripl-slider.wripl-mobile .nailthumb-container{
    float:left;
    margin: 0px;
    margin-right: 10px;
}

/* END END END ------ wripl mobile specific styles ---------------------- MOBILE SPECIFIC---- END END END*/

/* This rule is explicitly for removing the .nailthumb-container rule of float right  */
div#wripl-widget-ajax-container .nailthumb-container{
    float:none;
    margin-top: 4px;
}


.widgets {
    display: inline;
}


a#post_title {
    text-decoration: none;
    font-size: 14pt;
    color: black;
}
a#post_title:hover {
    text-decoration: underline;
}

#wripl-slider .heading-sml {
    float: left;
    color: #e77b12;
    font-weight: 600;
    font-size: 10pt;
}

#wripl-recommendations{
    margin-right: 14px;
    padding-top: 14px;
    padding-right: 6px;
    margin-left: -6px;
}

#wripl-functions{
    float: right;
    font-weight: 500;
    font-size: 8pt;
}
#wripl-functions a {
    text-decoration: none;
    color: #000000;
}
#wripl-functions a:hover {
    text-decoration: underline;
    color: #999999;
}

#wripl-main{
    float: left;
    width: 348px;
}

#wripl-dismiss {
    float: right;
    width: 20px;
    height: 100%;
    border-left: 1px solid #ededed;
}

#wripl-dismiss a{
    padding-top: 68px;       /* The arrows's poisition from the top of the slider */
    padding-left: 2px;
    font-size: smaller;
}

a.fill-div-link {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.show-left-pointer {
    cursor: w-resize;
}

.wripl-widget-title-over-image{
    position: absolute;
    bottom: 24px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    max-width: 96%;
    background-color:rgba(0,0,0,0.3);
    padding: 4px 8px ;
    color: white;
}
