div[id|=wripl-oauth] {
    padding: 5px 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
}


img#oauth-connect {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.wripl-rotate {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wripl-rotate:hover
{
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
}

@-webkit-keyframes rotate-webkit {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
@-moz-keyframes rotate-moz {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}
@-o-keyframes rotate-o {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}
.wripl-rotate
{
    -webkit-animation-name:             rotate-webkit;
    -webkit-animation-duration:         1.5s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name:             rotate-moz;
    -moz-animation-duration:         1.5s;
    -moz-animation-iteration-count:  infinite;
    -moz-animation-timing-function: linear;

    -o-animation-name:             rotate-o;
    -o-animation-duration:         4.5s;
    -o-animation-iteration-count:  infinite;
    -o-animation-timing-function: linear;

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;
}


/* TODO: Refactor the following css.. tis a bit messy*/
#wripl-slider {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: white;
    padding-left: 20px;
    width: 350px;
    height: 170px;

    -webkit-box-shadow: 0 8px 6px -6px #c8c8c8;
    -moz-box-shadow: 0 8px 6px -6px #c8c8c8;
    box-shadow: 0 8px 6px -6px #c8c8c8;

    border: solid 1px #EEEEEE;
}
#wripl-slider .heading {
    font-size: 13pt;
    font-weight: 300;
    padding: 20px 30px 10px 10px;
    text-align: center;
}
#wripl-slider .slider-body {
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#wripl-slider .slider-body  img {
    vertical-align: middle;
}
#wripl-slider #wripl-logo{
    float: left;
}
#wripl-slider .footer {
    clear:both;
    padding-bottom: 6px;
    padding-right: 16px;
    text-align: right;
}
#wripl-slider .footer img {
    vertical-align: text-bottom;
}
#wripl-slider-header{
    padding: 10px 20px 10px 10px;
    margin-bottom: 12px;
}
#wripl-slider #post_title {
    float: left;
    max-width: 160px;
    padding: 16px 8px 8px 8px;
}
#wripl-slider #post_title a{
    text-decoration: none;
    font-size: 14pt;
    color: black;
}
#wripl-slider #post_title a.hover{
    text-decoration: none;
    color: black;
}
#wripl-slider .heading-sml {
    float: left;
    color: #e77b12;
    font-weight: 600;
    font-size: 9pt;
}

/*
  to control the size of the thumbnail adjust the .thumbnail width and height
*/
.thumbnail {
    width: 132px;
    height: 100px;
    overflow: hidden;
    margin: 8px 12px 14px;
    float: right;
    border: solid 1px #c8c8c8;
}

#wripl-functions{
    float: right;
    font-weight: 500;
    font-size: 8pt;
}
#wripl-functions a {
    text-decoration: none;
}
#recommendations{
    margin-right: 14px;
    padding-top: 4px;
    border-top: 1px solid #e0dfdf;
    clear: both;
}